html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

 #clockContainer {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #efefef ,
      inset 0 0 10px white,
      0 0 10px rgba(0,0,0,0.2);
 }

 #hour, #minute, #second {
   position: absolute;
   background: black;
   border-radius: 10px;  
 }

 #hour {
    width: 4%;
    height: 30%;
    top: 18%;
    left: 48%;
    transform-origin: bottom;
}

 #minute {
    width: 3%;
    height: 38%;
    top: 11%;
    left: 48%;
    transform-origin: bottom;
 }

 #second {
    width: 2%;
    height: 48%;
    top: 0%;
    left: 48%;
    transform-origin: bottom;
 }
